{% extends "base.html" %}
{% block title %}Get a Quote{% endblock %} 
{% block content %} 
<div class="container">
  <h1 class="mt-5" style="color:#0075c9">Get a Quote for Car Insurance</h1>
  <form action="/calculate_quote" method="POST" id="quoteForm">
    <input type="hidden" name="insurance_policy" value="1">
    <div class="form-group">
        <label for="car_year">Year Car Bought:</label>
        <input type="number" class="form-control" id="car_year" name="car_year">
    </div>
    <div class="form-group">
        <label for="car_value">Car Value:</label>
        <input type="number" class="form-control" id="car_value" name="car_value">
    </div>
    <div class="form-group">
        <label for="user_age">Your Age:</label>
        <input type="number" class="form-control" id="user_age" name="user_age">
    </div>
    <div class="form-group">
        <label for="user_email">Your Email:</label>
        <input type="email" class="form-control" id="user_email" name="user_email">
    </div>
    <button type="submit" class="btn btn-primary" style="margin:20px;">Calculate Quote</button>
  </form>

  <!-- Display the calculated quote if available -->
  {% if quote %}
  <div class="alert alert-success" role="alert">Your insurance quote is: R{{ quote }}</div>
  {% endif %}
  
  <!-- Display error message if any -->
  {% if error %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endif %}
</div>
{% endblock%}