{% extends "base.html" %}
{% block title %}Win Rewards{% endblock %} 
{% block content %} 
    <div class="container">
    <div class="greetings">
        <h1>Welcome, {{ user['Name'] }}</h1>
        <p>Credits: {{ user['Credits'] }}</p>
        <h2>Stand a chance to win a reward!</h2>
    </div>
    <div id="cards-container" style="pointer-events: auto;">
        {% for card in cards %}
            <div class="flip-card{% if not card['win'] %} try-again{% endif %}" onclick="flipCard(this)">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p>Click to reveal</p>
                    </div>
                    <div class="flip-card-back">
                        {% if card['win'] %}
                            <p class="winner-card">Uber voucher</p>
                            <p class="success-message">Successfully added to your Sanlam Reality account</p>
                        {% else %}
                            <p>Try again</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<form action="/try_again" method="POST" id="try-again-form" style="display: none; text-align: center;">
    <input type="hidden" name="user_id" value="{{ user['id'] }}">
    <button type="submit" class="btn btn-danger">↻ Try again</button>
</form>
  <script>
    window.onload = function() {
        var userCredits = {{ user['Credits'] }};
        if (userCredits <= 1) {
            var cardsContainer = document.getElementById("cards-container");
            cardsContainer.style.pointerEvents = "none"; // Disable card clicking
            alert("Insufficient credits. Please add more credits to play.");
        }
    }
    
    function flipCard(card) {
        var flippedCards = document.querySelectorAll('.flip-card.flipped');
        if (flippedCards.length < 1) {
            card.classList.toggle('flipped');
            document.getElementById("try-again-form").style.display = "block"; // Show the "Try again" button
        }
    }
        </script>

{% endblock%}
