{% extends "base.html" %}
{% block title %}Policies{% endblock %} 
{% block content %} 
            <!-- Display flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    <div class="container">
        <h1 style="color:#0075c9">Insurance Policies</h1>
        <div class="row">
            {% for policy in policies %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ policy.image_url }}" class="card-img-top" alt="{{ policy.policy_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ policy.policy_name }}</h5>
                        <p class="card-text">
                          <strong>Coverage:</strong> {{ policy.coverage}}<br>
                          <strong><i class="fa fa-money" aria-hidden="true"></i></strong> R{{ policy.premium }}<br>
                          <strong>Deductible:</strong> R{{ policy.deductible }}
                        </p>
                          <a href="/pol/{{policy.policy_id}}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock%}