{% extends "base.html" %}
{% block title %}Profile{% endblock %} 
{% block content %} 
<div class="container">
    <h1 style="color:#0075c9">My Insurance Policies</h1>
    <div class="row">
        {% for policy in user_policies %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="height:600px;">
                <img src="{{ policy.image_url }}" class="card-img-top" alt="{{ policy.policy_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ policy.policy_name }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h1 style="color:#0075c9">Update Profile Details</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="/update_details" method="POST">
                {{ update_details_form.hidden_tag() }}
    <input type="hidden" name="user_id" value="{{ current_user.id }}">
                <div class="form-group">
                    {{ update_details_form.new_email.label }}
                    {{ update_details_form.new_email(class="form-control", value=user.email) }}
                    {% for error in update_details_form.new_email.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ update_details_form.new_password.label }}
                    {{ update_details_form.new_password(class="form-control") }}
                    {% for error in update_details_form.new_password.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ update_details_form.submit(class="btn btn-success") }} <!-- Include the submit button -->
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <form action="/delete_account" method="POST">
                <button type="submit" class="btn btn-danger">Delete Account</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}