<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{
            display: grid;
            place-content: center;
            min-height: 100vh;
        }
        .container{
            border: 1px solid rgb(192, 192, 192);
            padding:20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="mt-5 mb-4" style="color:#0075c9">Register</h2>
        <form method="post" action="/register">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">First Name</label>
                    <input name="Name" type="text" class="form-control" id="inputName" placeholder="Enter your first name" required="required">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input name="Last_name" type="text" class="form-control" id="inputLastName" placeholder="Enter your last name" required="required">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputDOB">Date of Birth</label>
                    <input name="Date_of_birth" type="text" class="form-control" id="inputDOB" placeholder="Enter your date of birth" required="required">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Enter your email" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input name="Password" type="password" class="form-control" id="inputPassword" placeholder="Enter your password" required="required">
            </div>
            <div class="form-group">
                <label for="inputPhone">Phone Number</label>
                <input name="Phone_number" type="text" class="form-control" id="inputPhone" placeholder="Enter your phone number" required="required">
            </div>
            <div class="form-group">
                <label for="inputAddress">Street Address</label>
                <input name="Street_Address" type="text" class="form-control" id="inputAddress" placeholder="Enter your Street Address" required="required">
            </div>
            <div class="form-group">
                <label for="inputZip">Zip_code</label>
                <input name="Zip_code" type="text" class="form-control" id="inputZip" placeholder="Enter your zip code" required="required">
            </div>
            <div class="form-group">
                <label for="inputSuburb">Suburb</label>
                <input name="Suburb" type="text" class="form-control" id="inputSuburb" placeholder="Enter your Suburb name" required="required">
            </div>
            <div class="form-group">
                <label for="inputCity">City</label>
                <input name="City" type="text" class="form-control" id="inputCity" placeholder="Enter your City Name" required="required">
            </div>
            <div class="form-group">
                <label for="inputCountry">Country</label>
                <input name="Country" type="text" class="form-control" id="inputCountry" placeholder="Enter your Country name" required="required">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="maleRadio" value="male">
                        <label class="form-check-label" for="maleRadio">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="femaleRadio" value="female">
                        <label class="form-check-label" for="femaleRadio">Female</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>